:root { 
    font-family: montserrat;
    color: white;
    
}
.container {
    background-color: black;
}
.input-container {
    border: 5px;
    border-color:aqua;
   
}
.header {
    text-align: center;
}
.filter__form--label{
    margin-left: 50px;
    
}
.form__input-text{
    margin: 10px ;
    padding: 10px 5px ;
    width: 200px;
    border: 5px;
    border-radius: 5px;
}
.title_img {
    height: 50vh;
}

.card {
    border-radius: 5px;
    border-color:rgb(22, 178, 178);
}

.card__img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 5px;
    border: solid 5px rgb(22, 178, 178);
}
.character__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    
    
}
.error__msg {
    text-align: center;
}
.footer__txt {
    text-align: center;
    height: 50px;
    background-color:rgb(22, 178, 178);
    padding-top: 20px;
}